.product-style-4 li.product:not(.otf-product-list) {
  margin-bottom: 30px; }
  .product-style-4 li.product:not(.otf-product-list) .shop-action {
    justify-content: center; }
    .product-style-4 li.product:not(.otf-product-list) .shop-action>* {
      transition: all .4s ease-in-out; }
  .product-style-4 li.product:not(.otf-product-list) .product-transition {
    margin-bottom: 1rem; }
  .product-style-4 li.product:not(.otf-product-list) .product-caption {
    transition: all .4s ease-in-out;
    transform: scale(1);
    bottom: 10px; }
    
  .product-style-4 li.product:not(.otf-product-list) .compare,.product-style-4 li.product:not(.otf-product-list) .yith-wcqv-button,.product-style-4 li.product:not(.otf-product-list) .yith-wcwl-add-to-wishlist>div>a {
    margin: 0;
    background-color: #fff; }
    .product-style-4 li.product:not(.otf-product-list) .compare:before,.product-style-4 li.product:not(.otf-product-list) .yith-wcqv-button:before,.product-style-4 li.product:not(.otf-product-list) .yith-wcwl-add-to-wishlist>div>a:before {
      color: #000;
      font-size: 14px; }
    .product-style-4 li.product:not(.otf-product-list) .compare:hover:before,.product-style-4 li.product:not(.otf-product-list) .yith-wcqv-button:hover:before,.product-style-4 li.product:not(.otf-product-list) .yith-wcwl-add-to-wishlist>div>a:hover:before {
      color: #fff; }
  .product-style-4 li.product:not(.otf-product-list) .compare {
    border-radius: inherit; }
  .product-style-4 li.product:not(.otf-product-list) .caption {
    position: relative; }
  .product-style-4 li.product:not(.otf-product-list) .woocommerce-loop-product__title {
    margin-bottom: .5em; }
    .product-style-4 li.product:not(.otf-product-list) .shop-action>:nth-child(2),.product-style-4 li.product:not(.otf-product-list) .shop-action>:nth-child(2).yith-wcwl-add-to-wishlist>div>a {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-right: none; }
  .product-style-4 li.product:not(.otf-product-list) .shop-action>:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: none; }
    .product-style-4 li.product:not(.otf-product-list) .shop-action>:last-child>div {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%; }
  .product-style-4 li.product:not(.otf-product-list) .shop-action .added_to_cart+*,.product-style-4 li.product:not(.otf-product-list) .shop-action .added_to_cart+.yith-wcwl-add-to-wishlist>div>a {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right: none; }
  .product-style-4 li.product:not(.otf-product-list) .posted_in {
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: .4em; }
    .product-style-4 li.product:not(.otf-product-list) .posted_in a {
      color: #a3a5a7;
      font-size: .875em; }
      .product-style-4 li.product:not(.otf-product-list) .posted_in a:hover {
        text-decoration: underline; }
  .product-style-4 li.product:not(.otf-product-list) .price {
    margin-top: 10px; }
    
    .product-style-4 li.product:not(.otf-product-list) .price del {
      color: #a3a5a7;
      opacity: 1 !important; }
  .product-style-4 li.product:not(.otf-product-list) a[class*=product_type_] {
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px; }
    .product-style-4 li.product:not(.otf-product-list) a[class*=product_type_]:before {
      color: #000; }
    .product-style-4 li.product:not(.otf-product-list) a[class*=product_type_].loading:before,.product-style-4 li.product:not(.otf-product-list) a[class*=product_type_]:hover:before {
      color: #fff; }
  .product-style-4 li.product:not(.otf-product-list) .otf-wrap-swatches {
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 1;
    z-index: 3; }
    .product-style-4 li.product:not(.otf-product-list) .otf-wrap-swatches+.price {
      opacity: 0; }
    
  
  .product-style-4 li.product:not(.otf-product-list):hover .product-caption {
    transform: scale(1); }
  .product-style-4 li.product:not(.otf-product-list):hover .otf-wrap-swatches {
    visibility: visible;
    opacity: 1; }
    .product-style-4 li.product:not(.otf-product-list):hover .otf-wrap-swatches+.price {
      opacity: 0; }